@import '../style/theme.scss';

.NavigationContainer-Wrapper {
  position: fixed;
  display: flex;
  height: 100vh;
  padding: 30px;
  border-right: 1px solid black;
  flex-direction: column;
  width: $nav-width;

  li {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
