#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Verdana cursive;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}
