@import '../style/theme.scss';

.Contents-Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  margin: 10px;
  margin-top: calc(130px + 10px);

  .SiteCard-Wrapper {
    position: relative;
    border: 1px solid $gray;
    padding: 20px;
    width: 40vw;
    min-width: 450px;
    line-height: 30px;

    li {
      width:100%;
      padding:0 5px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }

    li:nth-child(n + 2) {
      border-top: 1px solid $gray;
    }

    li:nth-child(2n) {
      color: $blue;
      border-top: 1px solid $gray;
    }

    .Close-Button {
      position: absolute;
      top: -10px;
      right: -10px;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      outline: none;
      background: $white;
      transition: all 0.5s;
      cursor: pointer;
      border: 1px solid $gray;
      z-index: 1;

      &:hover {
        transform: scale(1.2);
        background: $blue;
        color: $white;
      }
    }

    h1 {
      font-size: 20px;
      transition: all 0.5s;
      cursor: pointer;
      display: inline-block;

      &:hover {
        transform: scale(1.4);
      }
    }

    input {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      border: none;
      border: 1px solid $gray;
      margin: 15px 0;
      outline: none;
      padding: 0 10px;
    }
  }
}
