@import '../style/theme.scss';

.Contents-Wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  padding: 0 50px;
  margin-top: calc(130px + 10px);

  .SiteCard-Wrapper {
    position: relative;
    border: 1px solid $gray;
    padding: 20px;
    min-width: 250px;
    line-height: 30px;

    h1 {
      font-size: 25px;
      transition: all 0.3s;
      cursor: pointer;
      display: inline-block;
      margin-left: 40px;
      margin-top: 10px;

      &:hover {
        transform: scale(1.08);
      }
    }

    input {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      border: none;
      border: 1px solid $gray;
      margin: 15px 0;
      outline: none;
      padding: 0 10px;
    }

    li {
      width: 100%;
      padding: 0 5px;
      transition: all 0.3s;
      padding: 10px;
      display: flex;

      div {
        display: inline-block;
        width: 100%;
        transition: all 0.3s;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover div {
        transform: translate(10px);
      }

      img {
        display: inline-block;
        transition: all 0.3s;
        opacity: 0;
        margin-top: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover img {
        height: 20px;
        opacity: 1;
      }
    }

    li:nth-child(n + 2) {
      border-top: 1px solid $gray;
    }

    li:nth-child(2n) {
      color: $blue;
      border-top: 1px solid $gray;
    }

    div:first-child {
      position: absolute;
      top: -1px;
      right: -1px;
      width: 50px;
      height: 50px;
      background: $white;
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;

      button {
        left: 10px;
        position: absolute;
        height: 40px;
        width: 40px;
        outline: none;
        background: $white;
        transition: all 0.2s;
        cursor: pointer;
        border: 1px solid $gray;
        z-index: 1;
        font-size: 20px;
        font-weight: bold;
        color: $blue;
        overflow: visible;

        &:hover {
          transform: scale(1.2);
          background: $blue;
          color: $white;
        }
      }
    }
  }
}
