@import '../style/theme.scss';

.Header-Wrapper {
  position: fixed;
  height: $header-height;
  top: 0;
  left: $nav-width;
  width: calc(100vw - 230px);
  min-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: $white;
  border-bottom: 1px solid black;

  .Header-Column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Right-Column {
    width: 170px;
  }

  img {
    height: 30px;
    margin-bottom: 10px;
  }

  .Search-Input {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    color: #292929;
    border: none;
    border: 1px solid #c4c4c4;
    padding: 0 20px;
    outline: none;
  }

  .Range-Input {
    width: 200px;
  }
}
