@import '../style/theme.scss';

.Preview-Page-Wrapper {
  margin-top: calc(130px + 10px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-width: 650px;

  img {
    margin: 20px;
    width: 400px;
    box-shadow: 5px 5px 10px rgb(133, 132, 132);
  }
}
